<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-brand">Aaron Nolan</div>
    <div class="collapse navbar-collapse mx-auto" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link {% if page.url == '/' %} active {% endif %}" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.url == '/experience.html' %} active {% endif %}" href="/experience.html">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.url == '/posts.html' %} active {% endif %}" href="/posts.html">Posts</a>
        </li>
      </ul>
    </div>
  </div>
</nav>